html {
    font-size: 62.5%
}
body {
    font: 1.6rem 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#5c4514;
    color: #2B59C3;
    display: grid;
    grid-template-rows: auto 1fr auto;

}
img{
    display: inline-block;
    object-fit: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.6rem;
    background-color: #043433;
    color: #FFFFFF;
}

header .logo {
    font-family: 'Playfair Display', serif;
    font-size: inherit;
}

nav ul {
    list-style:none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.voyage {
    text-align: center;
    padding: 5rem;
    background: url('../asset/tobkal.png') no-repeat fixed center center / cover;
   
    color: #FFFFFF;
}

.voyage h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
}
.voyage p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;

}

.voyage .cta {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: #758b2e;
    border: none;
    color: #FFFFFF;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.voyage .cta:hover {
    background-color: #226644;
    transform: scale(1.1); 
}
.features {
    display: flex;
    justify-content: space-around;
    margin: 5rem 2rem;
}

.feature {
    text-align: center;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 1rem;
    background-color: #fafafa;
    border-radius:.4rem;
    color: #222;
    overflow: hidden;
   
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: #043433;
    color: #FFFFFF;
}
footer ul li a {
    text-decoration: none;
    color: #a090eb;
}
footer .socials {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.feature img {
    filter: grayscale(75%);  
    transition: all 0.3s ease-in-out;
}

.feature:hover img {
    transform: scale(1.1);
    filter: grayscale(0%);
    cursor: pointer;
    
}
